/*css das telas de pagamento*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fcfcfc;
  /* Define a cor de fundo personalizada */
}


/* Rectangle credito */

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #55555591;
}

input[type="checkbox"]:checked {
  background-color: #5555558f;
}

.payment-form {
  left: 30px;
}

.payment-form p{
  margin-top: 80px;
}

.credit-box {
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  width: 450px;
  height: 150px;
  background: #F5F5F5;
  border: 1px solid #000000;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.02),
    0 10px 10px rgba(0, 0, 0, 0.1);
}

/* Rectangle pix */
.pix-box {
  box-sizing: border-box;
  position: absolute;
  width: 450px;
  height: 100px;
  background: #F5F5F5;
  border: 1px solid #000000;
  top: 350px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.02),
    0 10px 10px rgba(0, 0, 0, 0.1);
}

/* Rectangle boleto */
.boleto-box {
  box-sizing: border-box;
  position: absolute;
  width: 450px;
  height: 100px;
  background: #F5F5F5;
  border: 1px solid #000000;
  top: 470px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.02),
    0 10px 10px rgba(0, 0, 0, 0.1);
}

.background-square-right {
  /* Rectangle 2 */
  color: #F5F5F5;
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  width: 490px;
  height: 620px;
  left: 750px;
  top: 19px;
  background: linear-gradient(180deg, rgba(100, 75, 255, 0.89) 0%, rgba(236, 85, 113, 0.92) 100%);
  border: none;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  
}

.background-square-right img {
  border-radius: 15px;
  margin-top: 10px;
  width:170px; 
  height:170px
}

.listra {
  /* Rectangle 36 */
  border-radius: 10px;
  position: fixed;
  width: 245px;
  height: 4px;
  left: 55px;
  top: 70px;
  background: linear-gradient(90deg, #FF774B 10.52%, #D83396 77.99%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.listra1 {
  /* Rectangle 36 */

  position: fixed;
  width: 490px;
  height: 6px;
  left: 750px;
  top: 245px;
  background: linear-gradient(90deg, #FF774B 10.52%, #D83396 77.99%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.listra2 {
    /* Rectangle 36 */
    
    position: fixed;
    width: 490px;
    height: 6px;
    left: 750px;
    top: 500px;
    background: linear-gradient(90deg, #D83396 10.52%, #FF774B 77.99%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  }



